/* 1 block */

.hero > .container {
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 270px;
}

.hero-list {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    height: 150px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    list-style: none;
    align-items: end;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 300px;
}

.hero-suptitle {
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 4%;
    text-transform: capitalize;
    color: white;
    margin: 0;
}

.hero-title {
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: 4%;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--brand-light);
    margin-top: 8px;
    margin-bottom: 0px;
}

.hero-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    color: var(--gray-text);
}

.explore_btn {
    position: absolute;
    top: 750px;
    left: 300px;
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    color: var(--background-color);
    background-color: var(--brand-light);
    padding: 8px 30px;
}

.scroll {
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: var(--brand-light);
}

.scroll-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.scroll-line {
    position: absolute;
    top: 890px;
    right: 70px;
}

/* 2 block */

.AboutUs_History > .container{
    width: auto;
    height: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("../src/images/background.webp");
}


.aboutUs{
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: flex-end;
    width: 523px;
    gap: 32px;
}

.ourHistory{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 523px;
    gap: 32px;
}

.AboutUs_History-top{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.AboutUs_History-tittle{
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: var(--brand-light);
}

.AboutUs_History-tittle{
    width: 523px;
}

.AboutUs_History-btn1{
    width: 141px;
    height: 44px;
    font-family: Cormorant Upright;
    color: black;
    background-color: var(--brand-light);
    border: none;
}

.AboutUs_History-btn2{
    width: 141px;
    height: 44px;
    font-family: Cormorant Upright;
    color: black;
    background-color: var(--brand-light);
    border: none;
}


/* 3 block */
.table > .container{
    width: auto;
    display: flex;
    justify-content: center;
}


.window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1364px;
    height: 466px;
}

.BookATable{
    display: flex;
    justify-content: center;
}

.BookATable h3{
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: white;
}

.BookATable h2{
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: var(--brand-light)
}

.table-form{
    display: flex;
    gap: 32px;
    flex-direction: row;
}

.form{
    width: 412px;
    height: 60px;
    background-color: var(--background-color);
    border: solid 1px var(--brand-light);
    color: var(--gray-text);
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
}

.table-btn{
    width: 133px;
    height: 44px;
    background-color: var(--brand-light);
    border: none;
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: black;
}

/* 4 block */

.menu > .container {
    display: flex;
    height: 900px;
    background-image: url("../src/images/rom.webp");
}

.watermark {
    position: absolute;
    left: 130px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 70px;
}

.menu-list_box {
    margin-top: 230px;
    margin-left: 100px;
}

.menu-item {
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 3%;
}

.menu-link {
    color: white;
    text-decoration: none;
}

/* 5 block */



/* 6 block */



/* 7 block */



/* 8 block */




/* 9 block */




/* 10 block */




/* 11 block */




/* 12 block */




/* 13 block */


